<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="body_color" value="Gazebo/Yellow" />
<xacro:property name="blue_color" value="Gazebo/Blue" />
<xacro:property name="white_color" value="Gazebo/White" />
<xacro:property name="red_color" value="Gazebo/Red" />
<xacro:property name="lidar_color" value="Gazebo/Black" />
<xacro:property name="metal_color" value="Gazebo/Grey" />
<xacro:property name="screen_color" value="Gazebo/Black" />

<!-- ############# SPECIFY ROBOT COLORS ############# -->

<gazebo reference="base_link">
  <material>${body_color}</material>
</gazebo>

<gazebo reference="right_wheel">
  <material>${white_color}</material>
</gazebo>

<gazebo reference="left_wheel">
  <material>${white_color}</material>
</gazebo>

<gazebo reference="lid">
  <material>${body_color}</material>
</gazebo>

<gazebo reference="head">
  <material>${body_color}</material>
</gazebo>

<gazebo reference="monitor_cover">
  <material>${body_color}</material>
</gazebo>

<gazebo reference="camera_link">
  <material>${body_color}</material>
</gazebo>

<gazebo reference="realsense">
  <material>${body_color}</material>
</gazebo>

<!-- ################ RED COLOR ################ -->



<gazebo reference="electronics_lid">
  <material>${red_color}</material>
</gazebo>

<gazebo reference="right_tyre">
  <material>${red_color}</material>
</gazebo>

<gazebo reference="left_tyre">
  <material>${red_color}</material>
</gazebo>

<!-- ################ BLUE COLOR ################ -->

<gazebo reference="front_caster">
  <material>${blue_color}</material>
</gazebo>

<gazebo reference="back_caster">
  <material>${blue_color}</material>
</gazebo>

<gazebo reference="visor">
  <material>${blue_color}</material>
</gazebo>

<gazebo reference="right_ear">
  <material>${blue_color}</material>
</gazebo>

<gazebo reference="left_ear">
  <material>${blue_color}</material>
</gazebo>

<gazebo reference="left_antenna">
  <material>${blue_color}</material>
</gazebo>

<gazebo reference="right_antenna">
  <material>${blue_color}</material>
</gazebo>

<!-- ################ LIDAR COLOR ################ -->

<gazebo reference="lidar">
  <material>${lidar_color}</material>
</gazebo>

<!-- ################ METAL COLOR ################ -->

<gazebo reference="long_bar">
  <material>${metal_color}</material>
</gazebo>

<!-- ################ SCREEN COLOR ################ -->

<gazebo reference="monitor">
  <material>${screen_color}</material>
</gazebo>

</robot>
